@page "/sme-questionnaire/{Token}/submitted"
@rendermode InteractiveServer
@attribute [AllowAnonymous]

<PageTitle>SME Questionnaire Submitted</PageTitle>

<h1>Thank you</h1>

<p>Your survey has been submitted.</p>
<p>You can continue updating your responses any time using your survey link.</p>

<p>
    <a class="btn btn-outline-primary" href="/sme-questionnaire/@Token">Return to Start</a>
</p>

<p>
    <a href="/sme-questionnaire/privacy">How we use your data (Privacy Notice)</a>
</p>

@code {
    [Parameter]
    public string Token { get; set; } = string.Empty;
}
