@page "/courses"
@using Common.Interfaces
@using Common.Models
@using Common.ViewModels
@rendermode InteractiveAuto

@inject ICoursesDataService dataService
@inject PersistentComponentState ApplicationState

@attribute [Authorize(Roles = "Admin")]

<h3>Courses Page</h3>

@if (model?.Courses == null)
{
    <p>...loading</p>
}
else
{
    <ul class="list-group">
        @foreach (var course in model.Courses)
        {
            <li class="list-group-item">
                @course.Number - @course.Name &nbsp;&nbsp;
                <button class="btn btn-primary" type="button" @onclick="(() => SelectCourse(course))">Select</button>
                <button class="btn btn-danger" type="button" @onclick="(() => DeleteCourseAsync(course))">Delete</button>
            </li>
        }
    </ul>
    <button class="btn btn-primary" type="button" @onclick="AddCourse">Add Course</button>
}

<ModalDialogue @ref="dialogue" Title="Test Message" SubmitMethod="UpdateCourseAsync">
    @if (model?.Course == null)
    {
        <p>Please select a course from above.</p>
    }
    else
    {
        <p>Id: @model.Course.Id</p>
        <div class="mb-3">
            <label for="number" class="form-label">Number</label>
            <input @bind-value="model.Course.Number" type="text" class="form-control" id="number"
                   aria-describedby="course number">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input @bind-value="model.Course.Name" type=" text" class="form-control" id="name"
                       aria-describedby="course name">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea @bind="model.Course.Description" class="form-control" id="description"
                              aria-describedby="course description" />
                </div>
                <div class="mb-3">
                    @if (model.Course.Objectives == null)
                    {
                        <p>No objectives.</p>
                    }
                    else
                    {
                        foreach (var objective in model.Course.Objectives)
                        {
                            <div class="mb-3">
                                @objective.Title
                            </div>
                        }
                    }
                    <button class="btn btn-secondary">Add Objective</button>
                </div>
            }
        </ModalDialogue>

@code {
    private ModalDialogue dialogue = default!;
    protected CoursesPageVM model = default!;

    private PersistingComponentStateSubscription _subscription;

    protected override async Task OnInitializedAsync()
    {
        _subscription = ApplicationState.RegisterOnPersisting(Persist);

        var foundInState = ApplicationState.TryTakeFromJson<CoursesPageVM>("model", out CoursesPageVM? storedState);

        if (foundInState && storedState != null)
        {
            model = storedState;
        }
        else
        {
            model = new CoursesPageVM();
            model.Courses = await dataService.GetAllAsync();
            model.Course = null;
        }

    }

    private Task Persist()
    {
        ApplicationState.PersistAsJson("model", model);
        return Task.CompletedTask;
    }

    protected void SelectCourse(Course course)
    {
        this.model.Course = course;
        dialogue.ShowModal();
    }

    protected async Task UpdateCourseAsync()
    {
        if (model?.Course == null)
        {
            //TODO: Display error
            return;
        }
        if (model.Course.Id == null)
        {
            await dataService.AddAsync(model.Course);
            model.Courses = await dataService.GetAllAsync();
        }
        else
        {
            await dataService.UpdateAsync(model.Course);
        }
        model.Course = null;
        StateHasChanged();
        dialogue.CloseModal();
    }

    protected async Task DeleteCourseAsync(Course course)
    {
        if (course == null || course.Id == null)
        {
            //TODO: Display error
            return;
        }
        await dataService.DeleteAsync(course.Id);
        this.model.Courses = await dataService.GetAllAsync();
    }

    protected void AddCourse()
    {
        if (this.model == null)
        {
            //TODO: Display error
            return;
        }
        this.model.Course = new Course();
        dialogue.ShowModal();
    }
}