@page "/objectives"
@using Common.Interfaces
@using Common.Models
@using Common.ViewModels
@rendermode InteractiveAuto

@inject IObjectivesDataService dataService
@inject PersistentComponentState ApplicationState

@attribute [Authorize(Roles = "Admin")]

<h3>Objectives Page</h3>
@if (this.model?.Objectives == null)
{
    <p>...loading</p>
}
else
{
    <ul class="list-group">
        @foreach (var objective in this.model.Objectives)
        {
            <li class="list-group-item">
                @objective.ObjNumber - @objective.Title &nbsp;&nbsp;
                <button class="btn btn-primary" type="button" @onclick="(() => SelectObjective(objective))">Select</button>
                <button class="btn btn-danger" type="button" @onclick="(() => DeleteObjectiveAsync(objective))">Delete</button>
            </li>
        }
    </ul>
    <button class="btn btn-primary" @onclick="AddObjective" type="button">Add Objective</button>
}

<ModalDialogue @ref="dialogue" Title="Edit Objective" SubmitMethod="UpdateObjectiveAsync">
    @if (this.model?.Objective == null)
    {
        <p>Please select a course from above.</p>
    }
    else
    {
        <p>Id: @this.model.Objective.Id</p>
        <div class="mb-3">
            <label for="objNumber" class="form-label">Objective Number</label>
            <input @bind-value="this.model.Objective.ObjNumber" type="text" class="form-control" id="objNumber" aria-describedby="objective number">
        </div>
        <div class="mb-3">
            <label for="parentObj" class="form-label">Parent Objective Number</label>
            <input @bind-value="this.model.Objective.ParentObj" type="text" class="form-control" id="parentObj" aria-describedby="Parent objective number">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input @bind-value="this.model.Objective.Title" type="text" class="form-control" id="title" aria-describedby="Objective title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea @bind="this.model.Objective.Description" class="form-control" id="description" aria-describedby="objective description" />
        </div>
    }
</ModalDialogue>


    @code {
    protected ModalDialogue dialogue = default!;
    protected ObjectivesPageVM model = default!;

    private PersistingComponentStateSubscription _subscription;

    protected override async Task OnInitializedAsync()
    {
        _subscription = ApplicationState.RegisterOnPersisting(Persist);

        var foundInState = ApplicationState.TryTakeFromJson<ObjectivesPageVM>("objectives", out ObjectivesPageVM? storedState);
        if (foundInState && storedState != null)
        {
            model = storedState;
        }
        else
        {
            model = new ObjectivesPageVM();
            model.Objectives = await dataService.GetAllAsync();
            model.Objective = null;
        }
    }

    private Task Persist()
    {
        ApplicationState.PersistAsJson("objectives", this.model.Objectives);
        return Task.CompletedTask;
    }

    protected void AddObjective()
    {
        this.model.Objective = new Objective();
        dialogue.ShowModal();
    }

    protected void SelectObjective(Objective objective)
    {
        this.model.Objective = objective;
        dialogue.ShowModal();
    }

    protected async Task UpdateObjectiveAsync()
    {
        if (this.model.Objective == null)
        {
            //TODO: Display error
            return;
        }
        if (this.model.Objective.Id == null)
        {
            await dataService.AddAsync(this.model.Objective);
            this.model.Objectives = await dataService.GetAllAsync();
        }
        else
        {
            await dataService.UpdateAsync(this.model.Objective);
        }
        this.model.Objective = null;
        StateHasChanged();
        dialogue.CloseModal();
    }

    protected async Task DeleteObjectiveAsync(Objective objective)
    {
        if (objective?.Id == null)
        {
            throw new ArgumentNullException(nameof(objective), "Objective or Objective Id cannot be null");
        }
        await dataService.DeleteAsync(objective.Id);
        this.model.Objectives = await dataService.GetAllAsync();
    }


}
