@inherits LayoutComponentBase
@implements IDisposable
@inject NavigationManager NavigationManager


<NavMenu />

<main class="@GetMainContentClass()">
    <div class="@GetBodyContainerClass()">
        @Body
    </div>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    private string GetMainContentClass()
    {
        var routePath = currentUrl?.Split('?', '#')[0];
        var isHomeRoute = string.IsNullOrWhiteSpace(routePath);

        return isHomeRoute ? "layout-body layout-body-home" : "layout-body";
    }

    private string GetBodyContainerClass()
    {
        var routePath = currentUrl?.Split('?', '#')[0];
        var isHomeRoute = string.IsNullOrWhiteSpace(routePath);

        return isHomeRoute ? "container-fluid px-0" : "container";
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
