@page "/popup-demo"
@using Server.Components.SharedComponents
@rendermode InteractiveServer

<h3>Popup Demo Page</h3>
<PopupNotification @ref="popup" Title="Test Message" Message="This is a test. Only a test."/>


<button class="btn btn-primary" @onclick="OnClickShowModal">Show Modal</button>
@code {
    private PopupNotification? popup;

    void OnClickShowModal()
    {
        popup?.ShowModal();
    }
}
