@rendermode InteractiveAuto

<div class="modal @modalClass" tabindex="-1" role="dialog" style="display:@modalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" @onclick="CloseModal"/>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" @onclick="OnSubmitClickAsync">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="CloseModal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public string Title { get; set; } = "Notification";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback SubmitMethod { get; set; }

    string modalClass = "";
    string modalDisplay = "none;";
    public bool ShowBackdrop = false;

    public void ShowModal()
    {
        modalClass = "show";
        modalDisplay = "block;";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void CloseModal()
    {
        modalClass = "";
        modalDisplay = "none;";
        ShowBackdrop = false;
        StateHasChanged();
    }

    public async Task OnSubmitClickAsync()
    {
        await SubmitMethod.InvokeAsync();
    }
}
