@page "/razordemo"

<h3>Basic Razor Syntax Demo</h3>

<h1>Hello, @name</h1>

<NavLink class="nav-link" href="RazorSyntaxDemos">
    Return to razor demos page
</NavLink>

@code {
    string name = "Blazor Developer";
}
