@page "/codeblocks"

<h3>Code Blocks Demo</h3>

@{
    var currentYear = DateTime.Now.Year;
    var greeting = "Welcome to Blazor";
}
<div>
    <p>@greeting</p>
    <footer>&copy;@currentYear</footer>
</div>
@code {

}
