@page "/conditionalrendering"
<h3>Conditional Rendering Demo</h3>

@if(isLoggedIn)
{
    <h1>Welcome back, @userName!</h1>
}
else
{
    <h1>Please log in to continue.</h1>
}

@code {
    bool isLoggedIn = true;
    string userName = "Rob";
}