@page "/loopingdemo"

<h3>Looping Demo</h3>

@if(products == null)
{
    <p><em>Loading...</em></p>
}
else if(products.Count == 0)
{
    <p><em>No products available.</em></p>
}
else
{
    <p>Available Products:</p>
    <ul>
        @foreach (var product in products)
        {
            <li>@product.Name - $@product.Price</li>
        }
    </ul>
}

@code {
    class Product
    {
        public string? Name { get; set; }
        public decimal? Price { get; set; }
    }

    private List<Product> products = default!;

    protected override void OnInitialized()
    {
        products = new List<Product>()
        {
            new Product { Name = "Toaster", Price = 999.99m },
            new Product { Name = "Smartphone", Price = 499.99m },
            new Product { Name = "Tablet", Price = 299.99m }
        };
    }
}
