@page "/razor-syntax-demos"

<h3>Razor Syntax Demos</h3>

<NavLink class="nav-link" href="razordemo">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Razor Demo
</NavLink>

<NavLink class="nav-link" href="codeblocks">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Code Blocks
</NavLink>

<NavLink class="nav-link" href="conditionalrendering">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Conditional Rendering
</NavLink>

<NavLink class="nav-link" href="ternaryoperator">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Ternary Operator Demo
</NavLink>

<NavLink class="nav-link" href="loopingdemo">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Looping Demo
</NavLink>

<NavLink class="nav-link" href="forwhiledemo">
    <span class="bi bi-box-fill" aria-hidden="true"></span> For and While Demo
</NavLink>

<NavLink class="nav-link" href="counter">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Event Binding Demo
</NavLink>

<NavLink class="nav-link" href="twowaydatabinding">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Two Way Data Binding Demo
</NavLink>

<NavLink class="nav-link" href="callingmethods">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Calling Methods Demo
</NavLink>
@code {

}
