@page "/ternaryoperator"
@rendermode InteractiveServer

<h3>Ternary Operator Demo</h3>

<button class="btn btn-primary" @onclick="Toggle">@(isActive?"Active":"Not Active")</button>

@code {
    bool isActive = true;
    
    private void Toggle()
    {
        isActive = !isActive; 
    }
}
