@page "/twowaydatabinding"
@rendermode InteractiveServer

<h3>Two Way Data Binding</h3>

<input @bind="username" @bind:event="oninput"/>

<p>Current username: @username</p>
@code {
    private string username = "";
}
